body{
    margin: 0px;
    background-color: rgb(8, 8, 230);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 225, 125);
    font-size: 20px;
}

form{
    margin-left: 20%;
    margin-top: 3%;
    background-color: blueviolet;
    width: 50%;
    height: 90vh;
    

}

h1{
    color: white;
    margin-left: 30%;
    font-size: 40px;
}

p{
    color: orange;
    text-align: center;
}

h3{
    
    text-align: center;
    color: yellow;
    font-size: 30px;
    font-style: italic;
}